body {
  background-color: #EAF6F6;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-top-width:7px;
  width: 5.1%;

}
h1 {
  text-shadow: 2px 2px 5px #66BFBF;
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
